/mdk.local.ini
/Content/Data/SBC files can go here
/Content/Other content folders
/.idea
Folder.DotSettings.user

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/
Thumbs.db
Desktop.ini
.DS_Store